[Desktop Entry]
Type=Application
Name=Velotype
Comment=Native Markdown editor built with Rust and GPUI
Exec=velotype %F
Icon=com.manyougz.Velotype
Terminal=false
Categories=Office;TextEditor;Utility;
MimeType=text/markdown;text/x-markdown;
StartupNotify=false
StartupWMClass=com.manyougz.Velotype
